body {
    background-color:#F0FFF0;
    font-family: serif;
    text-align: center;
}

header {
    background-color:#B19CD9;
    color: white;
    padding: 20px 0;
}

div {
    margin: 50px auto;
    width: 50%;
    background-color:#FADADD;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    color:#36454F;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid;
}
